```yml
# Ansible roles specific ignores
Ansible-roles/*/files/*
Ansible-roles/*/templates/*
!Ansible-roles/*/defaults/*.yml
!Ansible-roles/*/tasks/*.yml
!Ansible-roles/*/handlers/*.yml
!Ansible-roles/*/vars/*.yml
!Ansible-roles/*/meta/*.yml
```